.ProfileImg {
    padding: 0px;
    margin-top: -30px;
    margin-left: 200px;
    height: 300px;
}


.Summary {
    background-color: gray; 
    color: White;
    height: 300px;
}

.Interest {
    background-color: lightgray; 
    color: black;
    height: 740px;
}

.Projects {
    background-color: white; 
    color: black;
    height: 630px;
}

.ProjectsTitle {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.InterstCardImageImage {
    margin-top: -80px;
    object-fit: cover;
    opacity: 0.2;
}

.InterestCardBody {
    margin: auto; 
    width: 600px;
    height: 600px;
}

.InterstCardImage {
    background-color: white;
    width: 200px; 
    height: 200px;
    padding: 0px;
    text-align: center;
    padding-top: 10%;
    overflow: hidden;
}

.InterstCardImageImage:hover{
    opacity: 1;
}

.InterstCardImageText{
    font-weight: bold;
}

.SummaryCardTitle {
    margin: auto;
    font-size: 40px;
}

.InterestCardTitle {
    margin: auto;
    font-size: 40px;
}

.About {
    background-color: white; 
    color: black;
    height: 300px;
    margin-top: -21px;
}

.Title { 
    font-size: 40px;
    padding: 0;
}

.Wannabe {
    font-style: italic;
}

.CardText { 
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.ProjectCard {
    width: 300px;
    height: 420px;
    margin: auto;
    margin-top: 0px;
}

.ExperienceCont {
    max-width: 600px;
}

@media only screen and (max-width: 1500px) {
    .ProfileImg {
        margin-left: 120px;
    }
}

@media only screen and (max-width: 1200px) {
    .ProfileImg {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 900px) {
    .ProfileImg {
        padding: 0px;
        margin-top: -60px;
        margin-left: auto;
        height: 200px;
    }

    .About {
        background-color: white; 
        color: black;
        height: 170px;
    }

    .Title {
        font-size: 19px;
    }

    .TitleAlign {
        margin: -15px;
    }

    .Wannabe {
        font-size: 10px;
    }

    .CardText {
        padding: 10px;
        font-size: 15px;
    }

    .SummaryCardTitle {
        font-size: 30px;
    }

    .Summary {
        height: 240px;
    }

    .InterestCardTitle {
        margin-top: -20px;
        font-size: 30px;
    }

    .InterestCardBody {
        width: 300px;
        height: 300px;
    }

    .InterstCardImage {
        width: 100px; 
        height: 100px;
    }

    .Interest {
        height: 400px;
    }

    .InterstCardImageImage {
        margin-top: -50px;
    }

    .InterstCardImageText{
        font-weight: bold;
    }
    
    .ProjectsTitle {
        padding-top: 50px;
        font-size: 30px;
    }

    .ProjectCard {
        width: 300px;
        height: 420px;
    }

    .Projects {
        height: 630px;
    }
    
}

@media only screen and (max-width: 600px) {
    .ProfileImg {
        margin-left: -100px;
    }

    .ProjectsTitle {
        padding-top: 90px;
    }

    .Projects {
        height: 630px;
    }

    .ExperienceCont {
        max-width: 400px;
    }
}

@media only screen and (max-width: 360px) {
    .ProjectsTitle {
        padding-top: 140px;
    }

    .Projects {
        height: 730px;
    }

    .ExperienceCont {
        width: 400px;
    }
}
